<!doctype html>
<html>
  <head>
    <title><%= context.title %></title>
    <link href="gallery.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 id="gallery-title"><%= context.title %></h1>
    <form id="gallery-title-edit" method="GET" action="">
      <input type="text" name="title">
      <input type="submit" value="Change Gallery Title">
    </form>
    <%= context.imageTags %>
    <form id = "image-upload-form" action="" method="POST" enctype="multipart/form-data">
      <h2>Upload Image With Data</h2>
      <label for="image">
        Image File:
        <input type="file" name="image">
      </label>
      <input type="text" name="title" value="Enter Title Here">
      <input type="text" name="description" value="Enter Description Here">
      <input type="submit" value="Upload Image">
    </form>
    <script src = "gallery.js"></script>
  </body>
</html>
